name: Generate Contribution Snake

on:
  schedule:
    - cron: "0 0 * * *"   # daily at midnight UTC
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Generate Snake
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.SamindiS }}
          outputs: |
            output/github-contribution-snake.svg
            output/github-contribution-snake-dark.svg?palette=github-dark
